.products {
  margin-top: 15rem;
  &__heading {
    margin-bottom: 8rem;
    h1 {
      color: $brown;
      font-size: 8rem;
      font-weight: 200;
    }

    p {
      font-size: 1.5rem;
      color: $lightGray;
    }
  }

  &__cards {
    width: 85%;

    &__tonic {
      width: 45%;

      &__img {
        width: 100%;
        height: 60rem;
        background-image: url(/assets/images/products-2.jpg);
        background-position: center center;
        background-size: cover;
      }

      h2 {
        color: $brown;
        font-size: 4rem;
        font-weight: 200;
      }

      &-descreption {
        color: $lightGray;
        font-size: 1.3rem;
        line-height: 2;
      }
    }

    &__oil {
      width: 45%;
      &__img {
        width: 100%;
        height: 60rem;
        background-image: url(/assets/images/products-1.jpg);
        background-position: center center;
        background-size: cover;
      }

      h2 {
        color: $brown;
        font-size: 4rem;
        font-weight: 200;
      }

      &-descreption {
        color: $lightGray;
        font-size: 1.3rem;
        line-height: 2;
      }
    }
  }

  &__stats {
    &__item {
      span {
        color: $darkCyan;
        font-family: 'gilory';
        font-size: 3rem;
        padding-bottom: 2px;
        border-bottom: solid 3px $brown;
      }
      p {
        margin-top: 1.5rem;
        color: $lightGray;
        font-size: 1.3rem;
      }
    }
  }

  &__btns {
    margin-top: 3rem;
    &__1 {
      padding: 1rem 4rem;
    }
    &__2 {
      padding: 1rem 3rem;
    }
  }
}
